@keyframes colorShift{
	from{
		color:rgb(0,0,255);
	} to{
		color:rgb(0,255,0);
	}	
}

@keyframes borderShift{
	from{
		border-color:rgb(0,0,255);
	} to {
		border-color:rgb(0,255,0);
	}
}

@keyframes backgroundShift{
	from{
		background-color:rgb(0,0,255);
	} to{
		background-color:rgb(0,255,0);
	}
}

@keyframes fillShift{
	from{
		fill:rgb(0,0,255);
	} to {
		fill:rgb(0,255,0);
	}
}

@keyframes bodyShift{
	from{
		background:rgb(220,255,255); 

	} to {
		background:rgb(255,255,245); 
	}
}

@keyframes knockoutShift{
	from{
		color:rgb(220,255,255); 

	} to {
		color:rgb(255,255,245); 
	}
}
%color-shift{
	animation: colorShift 20s ease-in-out alternate infinite;
}

%border-shift{
	animation: borderShift 20s ease-in-out alternate infinite;
}

%background-shift{
	animation: backgroundShift 20s ease-in-out alternate infinite;
}


%fill-shift{
	animation: fillShift 20s ease-in-out alternate infinite;
}

%body-shift{
	animation: bodyShift 20s ease-in-out alternate infinite,
			   borderShift 20s ease-in-out alternate infinite;
}

%knockout-shift{
	animation: knockoutShift 20s ease-in-out alternate infinite,
			   backgroundShift 20s ease-in-out alternate infinite;
}
