body{
	@include text-size($medium);
	padding:1em; 
}

.intro{
	h1{
		@extend %sans-serif;
		letter-spacing:-0.065em;
		margin-top:0em;
		font-size:18vw;
		line-height:0.8;
		@extend %color-shift;

		&:before,&:after{
			display:block;
			font-size:18px;
			letter-spacing:0;
			margin:1em;
			font-family:courier;
			font-weight:normal;
			color:$gray;
		}

		&:before{
			// content:"<h1>";
		}
		&:after{
			// content:"</h1>";
		}
	}
}

.intro-text__container{
	.intro-text{
		@include text-size($xlarge);
		@extend %serif;
		text-rendering:geometricPrecision;
		@extend %color-shift;
		letter-spacing:-0.02em;
	}
}

.description__text-container{
	width:80%;
}

.description__title{
	@extend %sans-serif;
	@extend %color-shift;
	@include text-size($large);
	letter-spacing:-0.04em;
	margin-top:2em;
}

a{
	@extend %color-shift;
	text-decoration:none;

	&:hover{
		@extend %color-shift;
		@extend %border-shift;
		border-bottom: 1px solid;

	}
}

p,
li{
	@extend %serif;
	@include text-size($medium);
}

li{
	margin-bottom:0.5em;
}


.portfolio-list{
	padding:0;
	.portfolio-item{
		list-style:none;
		margin-bottom:0;
		a{
			@include text-size($large);
			@extend %border-shift;
			@extend %color-shift;
			padding:0.25em 0em;
			display:block;
			transition:all 0.2s ease-in-out;
			border-bottom:1px solid;
			&:hover{
				transition:all 0.2s ease-in-out;
				padding-left:1em;
			}
			&:visited{
				@extend %color-shift;
			}
		}
	}
}


::selection{
	@extend %background-shift;
	color:white;
}



