.intro{
	h1{
		@extend %sans-serif;
		letter-spacing: -0.07em;
		font-size:18vw;
		position:relative;
		height:100vh;
		margin-top:0;
		.title-word{
			mix-blend-mode: multiply;
			// position:absolute;
			display:inline-block;
			color:rgb(0,0,255);
			background:rgb(255,255,255);
			padding:0em 0.25em;
			&:nth-child(odd){


			}

			&:nth-child(1){
				left:0em;
				top:0em;


			}
			&:nth-child(2){
				right:0;
				// transform:rotate(90deg);
				transform-origin:0% 100%;
			}

			&:nth-child(3){
				left:0;
				bottom:2em;

			}
			&:nth-child(4){
				bottom:1em;
				left:0;
			}
			&:nth-child(5){
				bottom:0;

				
			}

		}	
	}
}

body{
	height:900vh;
}

code{
	@extend %mono;
}


@keyframes stretchy{
	from{
		letter-spacing: -0.04em;
	} to{
		letter-spacing: 2vw;
	}
}

@keyframes back-and-forth{
	from{
		transform:(translateX(0));
	}to{
		transform:(translateX(100%));
	}
}